@model Domain.Core.User
@{
    ViewData["Title"] = "";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <h3>Категории</h3>
    <table>
        <tr>
            <td>Категория</td>
            <td>Родительская Категория</td>
        </tr>
        <tr>
            <td>@Model.Cart.ShoppingCartId</td>
        </tr>

    </table>
</body>
</html>
