

@using Domain.Core;
@model IEnumerable<Product>

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model)
{
    <div>
        <h3>@p.PName</h3>
        <p>@p.ProductDescription</p>
        <h4>@p.Cost.ToString("# грн")</h4>
    </div>
}

