@model UserDataViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменение личных данных</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-selid=@ViewBag.Id, asp-route-prodid=@ViewBag.ProdId>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="City">Город</label>
                    <select asp-for="City" asp-items="@ViewBag.Cities">
                    </select>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

