@model UserDataViewModel
@{
    ViewData["Title"] = "MyAccount";
}

<h1>Мой профиль</h1>
<div class="row">
    <div class="col">
        Имя
    </div><div class="col">
        Город
    </div><div class="col">
        Имейлы
    </div><div class="col">
        Телефоны
    </div>
</div>

<div class="row">
    <div class="col">
        @Model.Name
    </div>
    <div class="col">
        @Model.City
    </div>
    <div class="col">
        @foreach (Domain.Core.Email e in Model.Emails)
        {
            <div class="row">@e.email</div>
        }
    </div>
    <div class="col">
        @foreach (Domain.Core.Phone e in Model.Phones)
        {
            <div class="row">@e.phone</div>
        }
    </div>
</div>
        <div>
            <a class="btn-link" asp-action="Edit" asp-route-id=@ViewBag.Id>Изменить</a> 
        </div>



